---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: external-secrets
  install:
    createNamespace: true
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    remediation:
      retries: 3
      strategy: rollback
    cleanupOnFail: true
  rollback:
    cleanupOnFail: true
    recreate: true
  values:
    replicaCount: 2
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    webhook:
      serviceMonitor:
        enabled: true
