---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: fluent-bit
  namespace: fluent-bit
spec:
  interval: 1h
  url: oci://registry-1.docker.io/fluent/fluent-bit
  ref:
    tag: "4.1.1"