---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: reloader
  namespace: flux-system
  labels:
    app.kubernetes.io/name: reloader
    app.kubernetes.io/component: operations
spec:
  interval: 10m
  retryInterval: 1m
  timeout: 5m

  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

  path: ./kubernetes/infrastructure/operations/reloader/app

  prune: true
  wait: true

  targetNamespace: kube-system

  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: reloader
      namespace: kube-system
    - apiVersion: apps/v1
      kind: Deployment
      name: reloader
      namespace: kube-system

  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
