apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: kube-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: spegel-charts
  values:
    grafanaDashboard:
      enabled: true
    serviceMonitor:
      enabled: true
    spegel:
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
    service:
      registry:
        hostPort: 29999
