---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cilium/  # Includes gateway, bgp, clustermesh, ipam
  - coredns/ks.yaml
  - spegel/ks.yaml
  - cloudflared/ks.yaml
  - external-dns/
