---
# GitLab Runner Registration Token
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gitlab-runner-registration
  namespace: gitlab-runner
  labels:
    app.kubernetes.io/name: gitlab-runner
    app.kubernetes.io/component: ci-cd
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: ${EXTERNAL_SECRET_STORE}

  target:
    name: gitlab-runner-registration
    creationPolicy: Owner

  refreshInterval: 1h

  data:
    - secretKey: runner-registration-token
      remoteRef:
        key: ${GITLAB_RUNNER_REG_TOKEN_PATH}
        property: token

    - secretKey: runner-token
      remoteRef:
        key: ${GITLAB_RUNNER_REG_TOKEN_PATH}
        property: token
