---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: coredns-charts
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: "1.45.0"
  url: oci://ghcr.io/coredns/charts/coredns
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: coredns
  namespace: kube-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: coredns-charts
  values:
    fullnameOverride: coredns
    image:
      repository: mirror.gcr.io/coredns/coredns
    replicaCount: ${COREDNS_REPLICAS}
    service:
      name: kube-dns
      clusterIP: ${COREDNS_CLUSTER_IP}
    servers:
      - zones:
          - zone: .
