---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: harbor

resources:
  - namespace.yaml
  - helmrepository.yaml
  - externalsecrets.yaml
  - helmrelease.yaml
  - httproute.yaml
  - networkpolicy.yaml
  - monitoring
